<html>
    <head>
        <script src="https://cdn.tailwindcss.com"></script>
        <style type="text/tailwindcss">
            *{
                background-color: rgb(255, 250, 250);
            }
          </style>
    </head>
    <body >
        <Navbar class="mt-8  lg:mt-4 block lg:flex lg:justify-around">
            <div class="text-center justify-start  text-4xl mb-8 lg:mb-2">Receipies using JWT </div>
            <!-- <div class="justify-end hidden w-full md:block md:auto "> -->
            <ul class="flex flex-row justify-center space-x-4 mb-4">
                <li><a href="/" class="text-xl hover:bg-yellow-400 p-2 rounded hover:text-black">Home</a></li>
                <li><a href="/login" class="text-xl hover:bg-yellow-400 p-2 rounded hover:text-black">Login</a></li>
                <li><a href="/logout" class="text-xl hover:bg-yellow-400 p-2 rounded hover:text-black">logout</a></li>
                <li><a href="#" class="text-xl hover:bg-yellow-400 p-2 rounded hover:text-black">Signup</a></li>
                <li><a href="#" class="text-xl hover:bg-yellow-400 p-2 rounded hover:text-black">About</a></li>
            </ul> 
        <!-- </div> -->
        </Navbar>
    </body>
</html>

